@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.app__switch {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #ca2a02;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
 

  /*Dark Mode */

  --darkbackground: #333;
  --darklink: #41ca96;
  --darktext: #fff;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

[data-theme = light] * {
  font-family: var(--font-base);
}

[data-theme = light] .motion-background{

  background-color: #edf2f8;
}


#dark :root {
  --font-color: #eee;
  --background-color: #333;
  --link-color: rgb(28, 14, 94);
  --secondary-color: #ca2a02;
  --gray-color: #6b7688;
  --font-base: "DM Sans", sans-serif;
  
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

[data-theme="dark"] a {
  color: var(--link-color);
}


#dark a {
  color: var(--darklink);
}

#dark a:hover {
  color: var(--secondary-color);
}



[data-theme="dark"] .card{
  color: black;
}



#light .app__switch label {
   
    color: var(--font-color);
  
}


#dark .app__switch label {
   
  color: var(--darktext);

}